<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
    .spinner {
        margin: 100px auto 0;
        width: 70px;
        text-align: center;
    }

    .spinner > div {
        width: 18px;
        height: 18px;
        background-color: rgb(124,77,255);

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

    .animate-hide {
        transition: all linear 0.5s;
        opacity: 1;
    }

    .animate-hide.ng-hide {
        line-height: 0;
        opacity: 0;
    }

    @-webkit-keyframes sk-bouncedelay {
        0%, 80%, 100% { -webkit-transform: scale(0) }
        40% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bouncedelay {
        0%, 80%, 100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        } 40% {
              -webkit-transform: scale(1.0);
              transform: scale(1.0);
          }
    }

    </style>
    <link href="app.min.css?rel={{ VERSION }}" rel="stylesheet" />
    <title>RGBWW Controller</title>
</head>


<body ng-app="rgbwwApp"  ng-style="{'background-color' : '#e1e1e1'}" layout="row" class="ng-cloak" ng-controller="mainCtrl" >
<md-sidenav md-component-id="menu" class="md-sidenav-left md-s">
    <md-toolbar>
        <div class="md-toolbar-tools" flex>
            <span class="md-title">Settings</span>
        </div>
    </md-toolbar>
    <md-list>
        <md-list-item ng-click="navigateTo(0, $event)" md-no-ink>
            <md-icon aria-label="Start"><svg-Icon name="home"></svg-Icon></md-icon>
            <p>Start</p>
        </md-list-item>
        <md-list-item ng-click="navigateTo(1, $event)" md-no-ink>
                <md-icon><svg-Icon name="palette"></svg-Icon>                    </md-icon>
                <p>Color Settings</p>
        </md-list-item>

        <md-list-item ng-click="navigateTo(2, $event)" md-no-ink>
                <md-icon md-font-set="material-icons"><svg-Icon name="wifi"></svg-Icon>
                    </md-icon>
                <p>Network Settings</p>
        </md-list-item>
        <md-list-item ng-click="navigateTo(3, $event)" md-no-ink>
                <md-icon><svg-Icon name="memory"></svg-Icon></md-icon>
                <p>System Settings</p>
        </md-list-item>
    </md-list>
</md-sidenav>

<div layout="column" flex>
    <md-toolbar layout="row" style="min-height:54px!important; max-height:54px!important;">
        <div class="md-toolbar-tools" flex hide-gt-xs >
            <md-button class="md-icon-button" ng-click="openMenu()" hide-gt-xs aria-label="Toggle Menu">
                <md-icon><svg-icon name="menu"></svg-icon>
                    </md-icon>
            </md-button>
            <div class="md-toolbar-tools" flex>
                <span class="md-title">RGBWW Controller</span>

            </div>
        </div>
        <div flex hide-xs> </div>
        <md-tabs md-no-ink md-center-tabs md-selected="tabs.selectedIndex" hide-xs>
            <md-tab id="tab1"  aria-controls="tab1-content">Start</md-tab>
            <md-tab id="tab2" aria-controls="tab3-content">Color Settings</md-tab>
            <md-tab id="tab3" aria-controls="tab2-content">Network Settings</md-tab>

            <md-tab id="tab4" aria-controls="tab4-content">System Settings</md-tab>

        </md-tabs >
        <div flex hide-xs> </div>


    </md-toolbar>

    <div class="container" layout="row" flex >

        <md-content flex id="content" style="background-color: #e1e1e1;" >

            <ng-switch on="tabs.selectedIndex" class="tabpanel-container">
                <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="0" ng-cloak>
                    <div  layout="column" layout-align="center" >
                        <div layout="row" layout-align="center center"  >
                            <md-card flex="50" >
                                <md-card-header >
                                    <md-card-header-text >

                                        <span class="md-title">
                                        <md-icon class="md-card-icon">
                                        <svg-icon name="palette"></svg-icon>
                                        </md-icon>Color</span>

                                    </md-card-header-text>

                                </md-card-header>
                                <md-divider></md-divider>
                                <md-card-content style="padding-top:0px;">
                                    <div class="md-color-picker-container in" layout="column" style="height:auto!important; width:auto!important;">
                                        <div class="md-color-picker-tabs md-color-picker-colors">
                                            <div layout="row" layout-align="space-around center" style="height: 270px">
                                                <div md-color-picker-spectrum></div>
                                                <div md-color-picker-hue></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div layout="row" ng-show="esprgbww.color.outputmode == 3" layout-align="center center" style="padding-top: 15px;" class="ng-hide">
                                        <div flex="10">
                                            <span>WW</span>
                                        </div>
                                        <md-slider ng-mouseup="setColor()" ng-model="hsvcolor.whitebalance" min="{{ esprgbww.color.colortemp.ww }}" max="{{ esprgbww.color.colortemp.cw }}" class="centerslider" aria-label="White Color Temperature">
                                        </md-slider>
                                        <div flex="10">
                                            <span>CW</span>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" ng-cloak>
                    <div  layout="column" layout-align="center" >
                        <div layout="row" layout-align="center center"  >
                            <md-card flex="50" >
                                <md-card-header >
                                    <md-card-header-text >

                                        <span class="md-title"> <md-icon class="md-card-icon">
                                        <svg-icon name="tune"></svg-icon>
                                        </md-icon> HSV</span>

                                    </md-card-header-text>

                                </md-card-header>
                                <md-divider></md-divider>
                                <md-card-content>

                                    <div layout="row" layout-align="center center" layout-align-xs="start end">
                                        <div flex hide-xs class="sliderlabel" >

                                            <span >Calculation Model</span>

                                        </div>
                                        <md-input-container class="cardselect">

                                            <md-select ng-model="esprgbww.color.hsv.model">
                                                <label show-xs>Calculation Model</label>
                                                <md-option ng-value="model.id" ng-repeat="model in hsvmodes" value="{{model.id}}">
                                                    {{model.title}}
                                                </md-option>
                                            </md-select>

                                        </md-input-container>
                                        <div hide-gt-xs style="width:30px"></div>
                                    </div>
                                    <div ng-hide="esprgbww.color.hsv.model == 2">
                                    <div layout="row" layout-xs="column" layout-align="center center"  layout-align-xs="center start" style="padding-top: 15px;">
                                        <div flex="30" flex-xs="100" class="sliderlabel" >
                                            <span>Red</span>
                                        </div>
                                        <md-slider ng-model="esprgbww.color.hsv.red" min="-30" max="30" md-discrete class="centerslider" aria-label="HSV Red">
                                        </md-slider>
                                    </div>
                                    <div layout="row" layout-xs="column" layout-align="center center" layout-align-xs="center start" style="padding-top: 15px;">
                                        <div flex="30" flex-xs="100" class="sliderlabel">
                                            <span>Yellow</span>
                                        </div>
                                        <md-slider ng-model="esprgbww.color.hsv.yellow" min="-30" max="30" md-discrete class="centerslider" aria-label="HSV Yellow">
                                        </md-slider>
                                    </div>
                                    <div layout="row" layout-xs="column" layout-align="center center" layout-align-xs="center start" style="padding-top: 15px;">
                                        <div flex="30" flex-xs="100" class="sliderlabel">
                                            <span >Green</span>
                                        </div>
                                        <md-slider ng-model="esprgbww.color.hsv.green" min="-30" max="30" md-discrete class="centerslider" aria-label="HSV Green">
                                        </md-slider>
                                    </div>
                                    <div layout="row" layout-xs="column" layout-align="center center"  layout-align-xs="center start"  style="padding-top: 15px;">
                                        <div flex="30" flex-xs="100" class="sliderlabel">
                                            <span>Cyan</span>
                                        </div>
                                        <md-slider  ng-model="esprgbww.color.hsv.cyan" min="-30" max="30" md-discrete class="centerslider" aria-label="HSV Cyan">
                                        </md-slider>
                                    </div>
                                    <div layout="row" layout-xs="column" layout-align="center center" layout-align-xs="center start"  style="padding-top: 15px;">
                                        <div flex="30" flex-xs="100" class="sliderlabel">
                                            <span>Blue</span>
                                        </div>
                                        <md-slider  ng-model="esprgbww.color.hsv.blue" min="-30" max="30" md-discrete class="centerslider" aria-label="HSV Blue">
                                        </md-slider>
                                    </div>
                                    <div layout="row" layout-xs="column" layout-align="center center"  layout-align-xs="center start"  style="padding-top: 15px;">
                                        <div flex="30" flex-xs="100" class="sliderlabel">
                                            <span>Magenta</span>
                                        </div>
                                        <md-slider ng-model="esprgbww.color.hsv.magenta" min="-30" max="30" md-discrete class="centerslider" aria-label="HSV Magenta">
                                        </md-slider>
                                    </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                    <div  layout="column" layout-align="center" >
                        <div layout="row" layout-align="center center"  >
                            <md-card flex="50" >
                                <md-card-header >
                                    <md-card-header-text >

                                        <span class="md-title"> <md-icon md-font-set="material-icons" class="md-card-icon">
                                            <svg-icon name="palette"></svg-icon>
                                        </md-icon> Color</span>

                                    </md-card-header-text>

                                </md-card-header>
                                <md-divider></md-divider>
                                <md-card-content>
                                    <div layout="row"  layout-align="center center"  layout-align-xs="start end">
                                        <div flex hide-xs class="sliderlabel" >

                                            <span >Output Model</span>
                                        </div>
                                        <md-input-container class="cardselect">

                                            <md-select ng-model="esprgbww.color.outputmode">
                                                <label show-xs>Output Model</label>
                                                <md-option ng-value="model.id" ng-repeat="model in colormodes" value="{{model.id}}">
                                                    {{model.title}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <div hide-gt-xs style="width:30px"></div>
                                    </div>
                                    <div style="margin-top:15px;">
                                        <span class="card-subtitle" >Led Brightness </span>
                                    </div>
                                    <div layout="row" layout-xs="column" layout-align="center center" layout-align-xs="center start"  style="padding-top: 10px;">
                                        <div flex="30" flex-xs="100" class="sliderlabel" >
                                            <span>Red</span>
                                        </div>
                                        <md-slider ng-model="esprgbww.color.brightness.red" min="0" max="100" md-discrete  class="colorslider" aria-label="Brightness Red">
                                        </md-slider>
                                    </div>
                                    <div layout="row" layout-xs="column" layout-align="center center" layout-align-xs="center start"  style="padding-top: 15px;">
                                        <div flex="30" flex-xs="100" class="sliderlabel">
                                            <span>Green</span>
                                        </div>
                                        <md-slider ng-model="esprgbww.color.brightness.green" min="0" max="100" md-discrete  class="colorslider" aria-label="Brightness Green">
                                        </md-slider>
                                    </div>
                                    <div layout="row" layout-xs="column" layout-align="center center" layout-align-xs="center start"  style="padding-top: 15px;">
                                        <div flex="30" flex-xs="100" class="sliderlabel">
                                            <span>Blue</span>
                                        </div>
                                        <md-slider ng-model="esprgbww.color.brightness.blue" min="0" max="100" md-discrete class="colorslider" aria-label="Brightness Blue">
                                        </md-slider>
                                    </div>
                                    <div layout="row" ng-hide="esprgbww.color.outputmode == 0 || esprgbww.color.outputmode == 2" layout-xs="column" layout-align="center center" layout-align-xs="center start"  style="padding-top: 15px;">
                                        <div flex="30" flex-xs="100" class="sliderlabel">
                                            <span>Warm White</span>
                                        </div>
                                        <md-slider  ng-model="esprgbww.color.brightness.ww" min="0" max="100" md-discrete class="colorslider" aria-label="Brightness Warm White">
                                        </md-slider>
                                    </div>
                                    <div layout="row" ng-hide="esprgbww.color.outputmode == 0 || esprgbww.color.outputmode == 1" layout-xs="column" layout-align="center center" layout-align-xs="center start"  style="padding-top: 15px;">
                                        <div flex="30" flex-xs="100" class="sliderlabel">
                                            <span>Cold White</span>
                                        </div>
                                        <md-slider ng-model="esprgbww.color.brightness.cw" min="0" max="100" md-discrete class="colorslider" aria-label="Brightness Cold White">
                                        </md-slider>
                                    </div>


                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                    <div  layout="column" layout-align="center" >
                        <div layout="row" layout-align="center center">
                            <md-card flex="50"  class="bottomcard">
                                <md-card-header >
                                    <md-card-header-text >

                                        <span class="md-title"> <md-icon class="md-card-icon">
                                        <svg-icon name="exposure"></svg-icon>
                                        </md-icon> White Temperatur (Kelvin)</span>

                                    </md-card-header-text>

                                </md-card-header>
                                <md-divider></md-divider>
                                <md-card-content>
                                    <div layout="row" layout-xs="column" layout-align="center center" layout-align-xs="center start"  style="padding-top: 15px;">
                                        <div flex="30" flex-xs="100" class="sliderlabel">
                                            <span>Warm White</span>
                                        </div>
                                        <md-slider disabled ng-model="esprgbww.color.colortemp.ww" min="2000" max="5000" md-discrete class="centerslider" aria-label="WarmWhite colortemp">
                                        </md-slider>
                                    </div>
                                    <div layout="row" layout-xs="column" layout-align="center center" layout-align-xs="center start"   style="padding-top: 15px;">
                                        <div flex="30" flex-xs="100" class="sliderlabel">
                                            <span>Cold White</span>
                                        </div>
                                        <md-slider disabled ng-model="esprgbww.color.colortemp.cw" min="4000" max="8000" md-discrete class="centerslider" aria-label="ColdWhite colortemp">
                                        </md-slider>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" ng-cloak>
                    <div  layout="column" layout-align="center" >
                        <div layout="row" layout-align="center center">
                            <md-card flex="50">
                                <md-card-header>
                                    <md-card-header-text>
                                        <span class="md-title"><md-icon class="md-card-icon">
                                           <svg-icon name="wifi"></svg-icon>
                                        </md-icon> Connection</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <md-divider></md-divider>
                                <md-card-content>
                                    <div layout="row" layout-align="start center" >
                                        <span flex="40" layout-padding >Connected to</span>
                                        <span >{{ ctrlinfo.connection.ssid }}</span>
                                    </div>
                                    <div layout="row" layout-align="start center" >
                                        <span  flex="40" layout-padding >IP</span>
                                        <span >{{ ctrlinfo.connection.ip }}</span>
                                    </div>
                                    <div layout="row" layout-align="start center" >
                                        <span  flex="40" layout-padding >MAC</span>
                                        <span >{{ ctrlinfo.connection.mac }}</span>
                                    </div>
                                    <div layout="row" layout-align="end center">
                                        <md-button ng-disabled="isOnline() == false" ng-click="showConfirm($event, 'Forget wifi', 'forget_wifi', 'Wifi information (SSID, Password) will be deleted and controller will restart in access point mode', 'Controller will restart now. For configuration please reconnect to controller wlan')" class="md-raised" aria-label="Restart" md-no-ink> Forget </md-button>
                                    </div>
                                    <div style="margin-top:15px;" layout="row"  layout-align="center center">
                                        <div>
                                            <span class="card-subtitle" >IP Setting</span>
                                        </div>
                                        <div flex></div>

                                    </div>

                                    <span class="md-caption">IP settings require a restart to take effect. If changed controller will restart automatically</span>
                                    <div layout="row"  layout-align="center center">
                                        <div flex>

                                            <span>Manual Configuration</span>

                                        </div>
                                        <md-input-container class="cardinput">

                                            <md-switch class="md-primary" ng-false-value="true" ng-true-value="false" md-no-ink aria-label="Manual Configuration" ng-model="esprgbww.network.connection.dhcp"></md-switch>

                                        </md-input-container>

                                    </div>
                                    <div ng-show="esprgbww.network.connection.dhcp == false" class="ng-hide">
                                    <div layout="row"  layout-align="center center">

                                        <div flex class="inputlabel">

                                            <span ng-disabled="esprgbww.network.connection.dhcp">IP Address</span>

                                        </div>
                                        <md-input-container class="cardinput">
                                            <input type="text" ng-pattern='/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/' ng-model-options="{ updateOn: 'blur' }" ng-disabled="esprgbww.network.connection.dhcp" ng-model="esprgbww.network.connection.ip" aria-label="Controller IP">

                                        </md-input-container>
                                    </div>
                                    <div layout="row"  layout-align="center center">

                                        <div flex class="inputlabel" >

                                            <span ng-disabled="esprgbww.network.connection.dhcp">Gateway</span>

                                        </div>
                                        <md-input-container class="cardinput">
                                            <input type="text" ng-pattern='/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/' ng-model-options="{ updateOn: 'blur' }" ng-disabled="esprgbww.network.connection.dhcp" ng-model="esprgbww.network.connection.gateway" aria-label="Gateway">

                                        </md-input-container>
                                    </div>
                                    <div layout="row"  layout-align="center center">

                                        <div flex class="inputlabel">

                                            <span ng-disabled="esprgbww.network.connection.dhcp">Netmask</span>

                                        </div>
                                        <md-input-container class="cardinput">
                                            <input type="text" ng-pattern='/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/' ng-model-options="{ updateOn: 'blur' }" ng-disabled="esprgbww.network.connection.dhcp" ng-model="esprgbww.network.connection.netmask" aria-label="Netmask">

                                        </md-input-container>
                                    </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>

                    <div  layout="column" layout-align="center" >
                        <div layout="row" layout-align="center center">
                            <md-card flex="50">
                                <md-card-header>
                                    <md-card-header-text>
                                        <span class="md-title"><md-icon class="md-card-icon">
                                        <svg-icon name="developer_board"></svg-icon>
                                        </md-icon> Server Settings</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <md-divider></md-divider>

                                <md-card-content>
                                    <div style="margin-top:10px;" layout="row"  layout-align="center center">
                                        <div>
                                            <span class="card-subtitle" >MQTT</span>
                                        </div>
                                        <div flex></div>
                                        <md-switch ng-disabled="true" class="md-primary" md-no-ink aria-label="MQTT" ng-model="esprgbww.network.mqtt.enabled"></md-switch>
                                    </div>
                                    <div ng-show="esprgbww.network.mqtt.enabled" class="ng-hide">
                                    <div layout="row"  layout-align="center center">

                                        <div flex class="inputlabel">

                                            <span ng-disabled="!esprgbww.network.mqtt.enabled">Server</span>

                                        </div>

                                        <md-input-container class="cardinput">

                                            <input type="text" ng-disabled="!esprgbww.network.mqtt.enabled" ng-model="esprgbww.network.mqtt.server" aria-label="MQTT Server">

                                        </md-input-container>

                                    </div>
                                    <div layout="row"  layout-align="center center">
                                        <div flex class="inputlabel">

                                            <span ng-disabled="!esprgbww.network.mqtt.enabled">Port</span>

                                        </div>
                                        <md-input-container class="cardinput">

                                            <input type="text" ng-disabled="!esprgbww.network.mqtt.enabled" ng-model="esprgbww.network.mqtt.port" aria-label="MQTT Port" required type="number" step="any" min="1" max="65500">

                                        </md-input-container>

                                    </div>
                                    <div layout="row" layout-align="center center">
                                        <div flex class="inputlabel" >
                                            <span ng-disabled="!esprgbww.network.mqtt.enabled">Username</span>
                                        </div>
                                        <md-input-container class="cardinput">
                                            <input type="text" ng-disabled="!esprgbww.network.mqtt.enabled" ng-model="esprgbww.network.mqtt.username" aria-label="MQTT Username">

                                        </md-input-container>

                                    </div>
                                    <div layout="row" layout-align="center center">
                                        <div flex class="inputlabel" >
                                            <span ng-disabled="!esprgbww.network.mqtt.enabled">Password</span>
                                        </div>
                                        <md-input-container class="cardinput">
                                            <input type="text" ng-disabled="!esprgbww.network.mqtt.enabled" ng-model="esprgbww.network.mqtt.password" aria-label="MQTT Username">

                                        </md-input-container>

                                    </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                    <div  layout="column" layout-align="center" >
                        <div layout="row" layout-align="center center">
                            <md-card flex="50"  class="bottomcard">
                                <md-card-header>
                                    <md-card-header-text>
                                        <span class="md-title"><md-icon class="md-card-icon">
                                            <svg-icon name="router"></svg-icon>
                                        </md-icon> Access Point Settings</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <md-divider></md-divider>

                                <md-card-content>
                                    <span class="md-caption">AccessPoint settings require a restart to take effect. If changed controller will restart automatically</span>
                                    <div layout="row"  layout-align="center center">

                                        <div flex class="inputlabel">

                                            <span>AP Name</span>

                                        </div>

                                        <md-input-container class="cardinput">

                                            <input type="text" ng-model="esprgbww.network.ap.ssid" aria-label="Accesspoint Name">

                                        </md-input-container>

                                    </div>
                                    <div  layout="row"  layout-align="center center">
                                        <div>
                                            <span class="card-subtitle" >Secure AP</span>
                                        </div>
                                        <div flex></div>
                                        <md-switch class="md-primary" md-no-ink aria-label="Secure Accesspoint" ng-model="esprgbww.network.ap.secured"></md-switch>
                                    </div>

                                    <div layout="row"  layout-align="center center"  class="ng-hide" ng-show="esprgbww.network.ap.secured == true">

                                        <div flex class="inputlabel">

                                            <span ng-disabled="!esprgbww.network.ap.secured">Password</span>

                                        </div>

                                        <md-input-container class="cardinput">

                                            <input minlength="8" maxlength="20" type="password" ng-disabled="esprgbww.network.ap.secured != true" ng-model="esprgbww.network.ap.password" aria-label="Accesspoint Password">

                                        </md-input-container>


                                    </div>
                                    <div layout="row"  layout-align="start start"  class="ng-hide" ng-show="esprgbww.network.ap.secured == true">
                                        <span class="md-caption"> Note: If already saved, the password will not be displayed again </span>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" id="tab4-content" aria-labelledby="tab4" ng-switch-when="3" ng-cloak>

                    <div  layout="column" layout-align="center" >
                        <div layout="row" layout-align="center center">
                            <md-card flex="50" >
                                <md-card-header>
                                    <md-card-header-text>
                                        <span class="md-title"><md-icon class="md-card-icon">
                                        <svg-icon name="info"></svg-icon>
                                        </md-icon> Information</span>
                                    </md-card-header-text>
                                </md-card-header>


                                <md-divider></md-divider>

                                <md-card-content>
                                    <div style="margin-top:20px; margin-bottom:5px;">
                                        <span class="card-subtitle" >Settings </span>
                                    </div>
                                    <div layout="row"   layout-align="end center">
                                        <md-button  class="md-raised" ng-click="exportSettings()" aria-label="Export Settings" md-no-ink> Export Settings </md-button>

                                        <md-button   class="md-raised" ng-disabled="true" aria-label="Import Settings" md-no-ink> Import Settings </md-button>
                                    </div>
                                    <div style="margin-top:20px; margin-bottom:5px;">
                                        <span class="card-subtitle" >System </span>
                                    </div>
                                    <div layout="row"   layout-align="end center">
                                        <md-button ng-disabled='isOnline() == false' ng-click="showConfirm($event, 'Restart','restart', 'Press ok to restart the controller')" class="md-raised" aria-label="Restart" md-no-ink> Restart </md-button>

                                        <md-button ng-disabled='isOnline() == false' ng-click="showConfirm($event, 'Reset controller', 'reset', 'This will reset all settings and restart the controller in access point mode', 'Setting resetted - controller will restart now. For configuration please connect to controller wlan')" class="md-raised" aria-label="Reset" md-no-ink> Reset </md-button>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                    <div  layout="column" layout-align="center" >
                        <div layout="row" layout-align="center center">
                            <md-card flex="50" >
                                <md-card-header>
                                    <md-card-header-text>
                                        <span class="md-title"><md-icon class="md-card-icon">
                                        <svg-icon name="security"></svg-icon>
                                        </md-icon> Security</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <md-divider></md-divider>
                                <md-card-content>
                                    <div layout="row"  layout-align="center center">
                                        <div flex>
                                            <span>Secure Settings Access </span>
                                        </div>
                                        <md-input-container class="cardinput">
                                            <md-switch class="md-primary" md-no-ink aria-label="Manual Configuration" ng-model="esprgbww.security.api_secured"></md-switch>
                                        </md-input-container>
                                    </div>

                                    <div layout="row"  layout-align="center center" class="ng-hide" ng-show="esprgbww.security.api_secured == true">

                                        <div flex class="inputlabel">

                                            <span ng-disabled="!esprgbww.security.api_secured">Password</span>
                                        </div>
                                        <md-input-container class="cardinput">
                                            <input type="password" ng-disabled="esprgbww.security.api_secured != true" ng-model="esprgbww.security.api_password" aria-label="Password">

                                        </md-input-container>

                                    </div>
                                    <div layout="row"  layout-align="start start" class="ng-hide" ng-show="esprgbww.security.api_secured == true">
                                        <span class="md-caption"> Note: If already saved, the password will not be displayed again </span>
                                    </div>
                                    <div layout="row" layout-align="start center" style="padding-top:10px;">
                                        <md-button ng-disabled="isOnline() == false" class="md-raised" aria-label="Save Password" ng-click="saveConfig()" md-no-ink> Change </md-button>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                    <div  layout="column" layout-align="center" >
                        <div layout="row" layout-align="center center">
                            <md-card flex="50" class="bottomcard">
                                <md-card-header>
                                    <md-card-header-text>
                                        <span class="md-title"><md-icon class="md-card-icon">
                                            <svg-Icon name="system_update"></svg-Icon>
                                        </md-icon> Firmware</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <md-divider></md-divider>
                                <md-card-content>
                                    <div layout="row" layout-align="start center" >
                                        <span flex="40" layout-padding class="md-caption">Firmware </span>
                                        <span class="md-caption">{{ ctrlinfo.firmware }}</span>
                                        <span ng-show="ctrlinfo.git_version != 'unknown'" class="md-caption ng-hide">&nbsp;&nbsp;({{ ctrlinfo.git_version }})</span>
                                    </div>
                                    <div layout="row" layout-align="start center" >
                                        <span flex="40" layout-padding class="md-caption">Web Interface </span>
                                        <span class="md-caption">{{ webappversion }}</span>
                                    </div>

                                    <div layout="row" layout-align="start center" >
                                        <span  flex="40" layout-padding class="md-caption">RGBWW Version </span>
                                        <span  class="md-caption">{{ ctrlinfo.rgbww.version }}</span>
                                    </div>

                                    <div layout="row" layout-align="start center" >
                                        <span flex="40" layout-padding class="md-caption">SMING Version </span>
                                        <span  class="md-caption">{{ ctrlinfo.sming }}</span>
                                    </div>
                                    <div style="margin-top:20px; margin-bottom:5px;">
                                        <span class="card-subtitle" >Update Firmware </span>
                                    </div>
                                    <span class="md-caption">Be sure to only apply updates from trusted sources.</span>
                                    <span class="md-caption">Official Firmware updates are available <a href="http://patrickjahns.github.io/esp_rgbww_firmware/index.html" target="_blank">via Github</a></span>
                                    <div layout="column" layout-align="center start" >

                                        <md-input-container style="width:100%; margin-bottom: 0px!important;">
                                            <label>OTA URL</label>
                                            <input type="text"  ng-model="esprgbww.ota.url" aria-label="UTA URL" >

                                        </md-input-container>
                                        <md-button  class="md-raised" aria-label="Update" md-no-ink ng-click="initUpdate($event)" ng-disabled="esprgbww.ota.url == '' || isOnline() == false">Check</md-button>
                                    </div>

                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                </div>

            </ng-switch>

        </md-content>

    </div>
    <div >
        <md-button ng-hide="tabs.selectedIndex == 0" hide-gt-xs class="md-fab md-warn md-fab-bottom-right" ng-disabled="isOnline() == false || saving == true" ng-click="saveConfig()" style="bottom: 8px; right:8px;"  aria-label="Save Settings">
            <div ng-hide="saving == true">
                <md-icon><svg-icon name="done"></svg-icon></md-icon>
            </div>
            <div ng-hide="saving == false">
                <md-progress-circular md-mode="indeterminate" class="savespinner"></md-progress-circular>
            </div>
        </md-button>
        <md-button ng-hide="tabs.selectedIndex == 0" hide-xs class="md-fab md-warn md-fab-bottom-right"  ng-disabled="isOnline() == false || saving == true" ng-click="saveConfig()"  aria-label="Save Settings">
            <div ng-hide="saving == true">
                <md-icon><svg-icon name="done"></svg-icon></md-icon>
            </div>
            <div ng-hide="saving == false">
                <md-progress-circular md-mode="indeterminate" class="savespinner"></md-progress-circular>
             </div>
        </md-button>

    </div>
</div>
</div>

</body>

<script type="text/ng-template" id="okcancledialog.html">
    <md-dialog aria-label="Ota Dialog" style="min-width:300px">
        <md-dialog-content >
            <div class="md-dialog-content" >
                <span class="card-subtitle" >{{ dialog.title }}</span>
                    <p style="padding-top: 20px">
                        {{ dialog.msg }}
                    </p>
            </div>
        </md-dialog-content>
        <md-dialog-actions ng-hide="dialog.buttons == false">
            <md-button  ng-click="ok()" class="md-primary" >OK</md-button>
            <md-button  ng-click="cancel()" class="md-primary" >Cancel</md-button>
        </md-dialog-actions>
    </md-dialog>
</script>

<script type="text/ng-template" id="otadialog.html">
    <md-dialog aria-label="Ota Dialog" style="min-width:300px">
        <md-dialog-content >
            <div class="md-dialog-content" >
                <div ng-show="ota_error != false && processing == false" class="ng-hide full-width" layout-align="start start" style="min-height:100px;">
                    <span class="card-subtitle" >OTA failed</span>
                    <div class="full-width" layout-align="start center" style="padding-top: 10px">
                        {{ ota_error }}
                    </div>
                </div>
                <div class="ng-hide" ng-show="step == 0 && ota_error == false" >
                    <div layout="row" layout-align="center center" style="min-height:100px;" ng-show="processing == true " class="ng-hide">
                        <md-progress-circular md-mode="indeterminate" ></md-progress-circular>
                    </div>
                    <div ng-show="processing == false" layout="column" style="min-height:100px;" layout-align="start start" class="ng-hide">
                        <span class="card-subtitle" >OTA Information</span>
                        <div class="full-width" layout-align="start center" style="padding-top: 10px">

                            <br><br>
                            <div layout="row" layout-align="start center">
                                <span  flex="40" layout-padding class="md-caption"></span>
                                <span  flex="30" class="md-caption">Current</span>
                                <span  flex="30" class="md-caption">OTA</span>
                            </div>
                            <div layout="row" layout-align="start center" >

                                <span flex="40" layout-padding class="md-caption">Firmware </span>
                                <span flex="30" class="md-caption">{{ fwversion }}</span>
                                <span flex="30" class="md-caption">{{ updateinfo.rom.fw_version }}</span>
                            </div>
                            <div layout="row" layout-align="start center" >
                                <span flex="40" layout-padding class="md-caption">Web Interface </span>
                                <span flex="30" class="md-caption">{{ webappversion }}</span>
                                <span flex="30" class="md-caption">{{ updateinfo.spiffs.webapp_version }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-hide" ng-show="step == 1 && ota_error == false">
                    <div ng-show="processing == true" class="ng-hide full-width">
                        <span class="card-subtitle" >OTA - updating</span>
                        <div layout="row" layout-align="center center" style="min-height:100px;" ng-show="processing == true " class="ng-hide">
                            <md-progress-circular md-mode="indeterminate" ></md-progress-circular>
                        </div>
                    </div>
                </div>
                <div class="ng-hide" ng-show="step == 2 && ota_error == false">
                    <div ng-show="processing == true" style="min-height:100px;" class="ng-hide full-width" layout-align="start start">
                        <span class="card-subtitle" >OTA - rebooting</span>
                        <div class="full-width" layout-align="start center" style="padding-top: 10px">
                            <br>
                            Successfully downloaded OTA
                            <br>
                            Controller will restart with new firmware now.
                            <br><br>
                        </div>
                    </div>
                    <div ng-show="processing == false && ota_error == false" style="min-height:100px;" class="ng-hide full-width" layout-align="start start">
                        <span class="card-subtitle" >OTA - success</span>
                        <div class="full-width" layout-align="start center" style="padding-top: 10px">
                            <br>
                            Successfully started new firmware.
                            <br>
                            Web interface will reload in {{ reloadCounter }} s (<a href="#" ng-click="reloadWebIF()">reload now</a>)
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions ng-show="processing == false && ota_error != false" class="ng-hide">
            <md-button  ng-click="cancel()" class="md-primary" >OK</md-button>
        </md-dialog-actions>
        <md-dialog-actions ng-show="ota_error == false && processing == false && step == 0" class="ng-hide">

            <md-button  ng-click="cancel()" class="md-primary" >Cancel</md-button>
            <md-button  ng-click="processupdate()" class="md-primary" ng-disabled="isOnline() == false">Update</md-button>
        </md-dialog-actions>
    </md-dialog>
</script>

<script type="text/ng-template" id="ConnectionToast.html">
<md-toast>
    <div layout="row" layout-align="center center" flex>
        <div  class="ng-hide" ng-show="connected == false">
            <md-icon><svg-Icon name="report_problem"></svg-Icon></md-icon> <span class="md-toast-text" style="padding-left:4px"> not connected</span>
        </div>
        <div class="ng-hide" ng-show="connected == true">
            <md-icon><svg-Icon name="info_white"></svg-Icon></md-icon> <span class="md-toast-text" style="padding-left:4px"> connected</span>
        </div>
    </div>
</md-toast>
</script>

<script src="app.min.js?rel={{ VERSION }}" type="text/javascript" ></script>


</html>